* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(140, 67, 153);
}

img {
  width: 100px;
}

.game-container {
  width: 600px;
  height: 600px;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  /* Perspective da da dubinu elementu */
  perspective: 1000px;
}

.control {
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.card-holder {
  width: 25%;
  height: 33.33%;
  transform:scale(1);
  /*Perserve3d da sacuva dubinu koju smo dobili od perspective*/
  transform-style: preserve-3d;
  transition: transform .6s;
}

.card-holder:active {
  transform: scale(.97);
  transition: transform .3s;
}

.card-holder.flip {
  transform: rotateY(180deg);
}

.face-card,.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  /*Svakihtmlelementimabackface,rotateYprikazujeslikukaoodrazuogledaludasakrijemotokoristisebackfacenahidden*/
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.face-card {
  transform: rotateY(180deg);
}

.resetBtn {
  padding: 5px 10px;
  transition-duration: 0.4s;
  background-color: #c51743;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.pop-up{
  visibility: hidden;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: seashell;
  border-radius: 30px;
  position: absolute;
  top:30%;
  transform: translate(50%, -50%);
}

.endGame {
  width: 300px;
  margin: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  padding: 30px;
}

  .endGame>h1 {
    padding-bottom: 10px;
  }

